{% extends 'base.html.Twig' %}

{% block title %}
  Signup
{% endblock %}

{% block body %}
  <h1>Signup</h1>

  <!-- ERRORS -->
  {% if userModel.errors is not empty %}
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title text-bg-danger p-1">Errors</h5>
        <ul>
          {% for error in userModel.errors %}
            <li class="alert alert-danger" role="alert">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <!-- HTML form/action points to PHP controller/action -->
        <form action="/signup/create" method="post">
          <div class="mb-3">
            <!-- HTML Label/for points to HTML input/id -->
            <label for="inputName" class="form-label">Name</label>
            <!-- HTML "name" are used as keys for variable creation on the PHP server side -->
            <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" autofocus value="{{ userModel.name }}" required />
          </div>

          <div>
            <label for="inputEmail" class="form-label">Email address</label>
            <!-- HTML "name" are used as keys for variable creation on the PHP server side -->
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="email address" value="{{ userModel.email }}" required />
          </div>

          <div>
            <label for="inputPassword" class="form-label">Password</label>
            <!-- HTML "name" are used as keys for variable creation on the PHP server side -->
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required />
          </div>

          <div>
            <label for="inputPasswordConfirmation" class="form-label">Repeat password</label>
            <!-- HTML "name" are used as keys for variable creation on the PHP server side -->
            <input type="password" class="form-control" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Repeat password" required />
          </div>

          <div class="d-flex flex-row-reverse">
            <div class="pt-2">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
