{% extends 'base.html' %}

{% block title %}
My Courses
{% endblock %}

{% block body %}

<!-- MAIN ALIGNMENT -->
<div class="p-5">

  <!-- ERRORS -->
  {% if userModel.errors is not empty %}
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title text-bg-danger p-1">Errors</h5>
      <ul>
        {% for error in userModel.errors %}
        <li class="alert alert-danger" role="alert">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <!-- MAIN CARD -->
  <div class="card shadow-lg p-3 mb-5  bg-body-tertiary rounded">
    <div class="card-body">
      <h5 class="card-title">My Courses</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"></h6>

      <!-- MAIN CONTENT -->
      <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
              <p class="card-text">Learn and master John Butler Ocean</p>
              <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
              <p class="card-text">Learn and master John Butler Ocean</p>
              <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
              <p class="card-text">Learn and master John Butler Ocean</p>
              <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
              <p class="card-text">Learn and master John Butler Ocean</p>
              <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
            </div>
          </div>
      </div>      
      <!-- END MAIN CONTENT -->
      
    </div>
    
  </div><!-- END MAIN ALIGNMENT -->
   
</div> <!-- END MAIN CARD -->

<br /><br /><br /><br />
{% endblock %}

