{% extends 'base.html' %}

{% block title %}
My Courses
{% endblock %}

{% block body %}
<h1>My Courses</h1>

<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
          <p class="card-text">Learn and master John Butler Ocean</p>
          <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
        </div>
      </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
        <p class="card-text">Learn and master John Butler Ocean</p>
        <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
      </div>
    </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
        <p class="card-text">Learn and master John Butler Ocean</p>
        <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
      </div>
    </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
        <p class="card-text">Learn and master John Butler Ocean</p>
        <a href="/mycourses/course" class="btn btn-primary">Enter Course</a>
      </div>
    </div>
</div>


<br><br><br><br>

{% endblock %}