{% extends 'base.html.Twig' %}

{% block title %}
  Token expired
{% endblock %}

{% block body %}

  <h1>Token expired</h1>

  <p>
    Password reset token invalid, Please click <a href="/password/forgot">here</a> to request another one.
  </p>

{% endblock %}
