{% extends 'base.html' %}

{% block title %}
Course Studio
{% endblock %}

{% block body %}
<!-- MAIN ALIGNMENT -->
<div class="p-5">

    <!-- ERRORS -->
    {% if userModel.errors is not empty %}
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title text-bg-danger p-1">Errors</h5>
        <ul>
          {% for error in userModel.errors %}
          <li class="alert alert-danger" role="alert">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  
    <!-- MAIN CARD -->
    <div class="card shadow-lg p-3 mb-5  bg-body-tertiary rounded">
        <div class="card-body">
            <h5 class="card-title">Course Studio</h5><!-- CARD TITLE -->
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6><!-- CARD SECOND -->
  
            <!-- MAIN CONTENT -->

            <a href="/coursestudio/new">New Course</a>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>

            <!-- END MAIN CONTENT -->

        </div> <!-- CARD BODY -->
    </div><!-- END MAIN CARD -->
</div><!-- END MAIN ALIGNMENT -->
  
<br /><br /><br /><br />
{% endblock %}