{% extends 'base.html' %}

{% block title %}
Course Creator
{% endblock %}

{% block body %}

<!-- MAIN ALIGNMENT -->
<div class="p-5">

  <!-- ERRORS -->
  {% if userModel.errors is not empty %}
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title text-bg-danger p-1">Errors</h5>
      <ul>
        {% for error in userModel.errors %}
        <li class="alert alert-danger" role="alert">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <!-- MAIN CARD -->
  <div class="card shadow-lg p-3 mb-5  bg-body-tertiary rounded">
    <div class="card-body">
      <h5 class="card-title"><a href="/CourseCreator/index">Course Creator</a> - New Course</h5><!-- CARD TITLE -->
      <br>
      <h6 class="card-subtitle mb-2 text-body-secondary"></h6><!-- CARD SECOND -->

      <!-- MAIN CONTENT -->

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Course Informations</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6>

          <form action="/coursecreator/createCourse" method="POST">

            <div>
              <label for="courseTitle" class="form-label">Course Title</label>
              <!-- Added "for" attribute to associate the label with the input field, and added the "id" attribute to the input field -->
              <input type="text" class="form-control" id="courseTitle" name="courseTitle" placeholder="" required />
            </div>

            <div>
              <label for="courseDescription" class="form-label">Course Description</label>
              <!-- Added "for" attribute to associate the label with the textarea, and added the "id" attribute to the textarea -->
              <textarea class="form-control" id="courseDescription" name="courseDescription" placeholder=""
                required></textarea>
            </div>

            <!-- Removed one "class" attribute from the button element -->
            <button type="submit" class="btn btn-primary">Create</button>

          </form>

        </div>
      </div>

      <br>

      <!-- END MAIN CONTENT -->

    </div> <!-- CARD BODY -->
  </div><!-- END MAIN CARD -->
</div><!-- END MAIN ALIGNMENT -->

<br /><br /><br /><br />
{% endblock %}