{% extends 'base.html' %}

{% block title %}
My Courses
{% endblock %}

{% block body %}


<!-- MAIN ALIGNMENT -->
<div class="p-5">

    <!-- ERRORS -->
    {% if userModel.errors is not empty %}
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title text-bg-danger p-1">Errors</h5>
            <ul>
                {% for error in userModel.errors %}
                <li class="alert alert-danger" role="alert">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!-- MAIN CARD -->
    <div class="card shadow-lg p-3 mb-5  bg-body-tertiary rounded">
        <div class="card-body">
            <h5 class="card-title">System Stats - Table Users</h5><!-- CARD TITLE -->
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6><!-- CARD SECOND -->
            <br>
            <!-- MAIN CONTENT -->

            <table style="border: 1px solid black; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border: 1px solid black;">ID</th>
                        <th style="border: 1px solid black;">Name</th>
                        <th style="border: 1px solid black;">Email</th>
                        <th style="border: 1px solid black;">Password Hash</th>
                        <th style="border: 1px solid black;">Password Reset Hash</th>
                        <th style="border: 1px solid black;">Password Reset Expires At</th>
                        <th style="border: 1px solid black;">Activation Hash</th>
                        <th style="border: 1px solid black;">Is Active</th>
                        <th style="border: 1px solid black;">Time Zone</th>
                        <th style="border: 1px solid black;">Subscription Expires At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="border: 1px solid black;">{{ user.id }}</td>
                        <td style="border: 1px solid black;">{{ user.name }}</td>
                        <td style="border: 1px solid black;">{{ user.email }}</td>
                        <td style="border: 1px solid black;">{{ user.password_hash }}</td>
                        <td style="border: 1px solid black;">{{ user.password_reset_hash }}</td>
                        <td style="border: 1px solid black;">{{ user.password_reset_expires_at }}</td>
                        <td style="border: 1px solid black;">{{ user.activation_hash}}</td>
                        <td style="border: 1px solid black;">{{ user.is_active }}</td>
                        <td style="border: 1px solid black;">{{ user.time_zone }}</td>
                        <td style="border: 1px solid black;">{{ user.subscription_expires_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            <!-- END MAIN CONTENT -->

        </div> <!-- CARD BODY -->
    </div><!-- END MAIN CARD -->
</div><!-- END MAIN ALIGNMENT -->

<br /><br /><br /><br />
{% endblock %}