{% extends 'base.html' %}

{% block title %}
Items
{% endblock %}

{% block body %}
<h1>Courses</h1>

<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">How to Play OCEAN - 25€ / Mo</h5>
          <p class="card-text">Learn and master John Butler Ocean</p>
          <a href="/courses/details" class="btn btn-primary">Details</a>
        </div>
      </div>
</div>


<br><br><br><br>

{% endblock %}