<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

  <title>
    {% block title %}

    {% endblock %}
  </title>

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HYPERWEB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        {% if current_user %}


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Buisness/Dashboard/index">Dashboard</a>
          </li>

          <!-- Marketing -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marketing
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/Marketing/index">Marketing</a></li>
              <li><a class="dropdown-item" href="/Buisness/Prospection/index">Prospection</a></li>
              <li><a class="dropdown-item" href="/Buisness/Commerce/index">Commerce</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- FINANCE -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Finance
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/Finances/index">Finances</a></li>
              <li><a class="dropdown-item" href="/Buisness/Invoices/index">Invoices</a></li>
              <li><a class="dropdown-item" href="/Buisness/Accounting/index">Accounting</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- OPERATIONS -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Operations
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/Vendors/index">Vendors</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Buisness/Products/index">Products</a></li>
              <li><a class="dropdown-item" href="/Buisness/Services/index">Services</a></li>
              <li><a class="dropdown-item" href="/Buisness/Stocks/index">Stocks</a></li>
              <li><a class="dropdown-item" href="/Buisness/Warehouses/index">Warehouses</a></li>
              <li><a class="dropdown-item" href="/Buisness/Logistics/index">Logistics</a></li>
              <li><a class="dropdown-item" href="/Buisness/OnlineMarketPlace/index">Online MarketPlace</a></li>
              <li><a class="dropdown-item" href="/Buisness/FrontStores/index">FrontStores</a></li>
              <li><a class="dropdown-item" href="/Buisness/POS/index">POS</a></li>
              <li><a class="dropdown-item" href="/Buisness/Resellers/index">Resellers</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Buisness/Clients/index">Clients</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Buisness/Materials/index">Materials</a></li>
              <li><a class="dropdown-item" href="/Buisness/Blueprints/index">Blueprints</a></li>
              <li><a class="dropdown-item" href="/Buisness/ProductionLines/index">Production lines</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Buisness/Something Else/index">Something Else</a></li>
            </ul>
          </li>

          <!-- RESOURCES -->
          <!-- A resource is a source or supply from which a benefit is produced and that has some utility. The word "Asset" is also a noun and means a useful or valuable thing, person, or quality. -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/Assets/index">Assets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- DOCUMENTATIONS -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Documentation
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/ToDoLists/index">ToDo Lists</a></li>
              <li><a class="dropdown-item" href="/Buisness/Procedures/index">Procedures</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- HUMAN RECOURCES -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Human Recources
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/RecruitmentSelection/index">Recruitment & selection</a></li>
              <li><a class="dropdown-item" href="/Buisness/PerformanceManagement/index">Performance management</a></li>
              <li><a class="dropdown-item" href="/Buisness/LearningDevelopment/index">Learning & development</a></li>

              <li><a class="dropdown-item" href="/Buisness/Finances/index">Succession planning</a></li>
              <li><a class="dropdown-item" href="/Buisness/CompensationAndBenefits/index">Compensation and benefits</a>
              </li>
              <li><a class="dropdown-item" href="/Buisness/InformationSystems/index">Information Systems</a></li>
              <!-- Not sure this will be necessary -->
              <li><a class="dropdown-item" href="/Buisness/HR/index">HR data and analytics</a></li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- IT -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              IT
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Buisness/Groups/index">Groups</a></li>
              <li><a class="dropdown-item" href="/Buisness/Users/index">Users</a></li>
              <li><a class="dropdown-item" href="/Buisness/Tickets/index">Tickets</a></li>
              <li><a class="dropdown-item" href="/Buisness/ITSM/index">ITSM</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex m-3 mt-0 mb-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


        {% endif %}


        <!-- USER PROFILE MENU -->
        {% if current_user %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ruivo.rui@gmail.com
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile/show">Profile</a></li>
            <li><a class="dropdown-item" href="/Settings">Settings</a></li>
            <li><a class="dropdown-item" href="/Plans">Plans</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/Messages">Messages</a></li>
            <li><a class="dropdown-item" href="/Invitations">Invitations</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/Logout">Logout</a></li>
          </ul>
        </div>
        {% endif %}

        <!-- LOGIN LOGOUT MENU -->
        {% if not current_user %}
        <div class="dropdown">
          <button class="btn btn-secondary-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Login
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/signup/new">Signup</a></li>
          </ul>
        </div>
        {% endif %}

      </div>
    </div>
  </nav>

  <div class="container"></div>
  <!-- FLASH MESSAGES -->
  {% for message in flash_messages %}
  <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
  {% endfor %}

  {% block body %}

  {% endblock %}
  </div> <!-- Container -->

  <!-- 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    -->

</body>

</html>