<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Open Graph Tags -->
  <meta property="og:title" content="Awesome Guitar Courses" />
  <meta property="og:description" content="Unlock your musical potential. Learn guitar online." />
  <meta property="og:image" content="URL_TO_IMAGE" />
  <meta property="og:url" content="YOUR_WEBSITE_URL" />

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Awesome Guitar Courses">
  <meta name="twitter:description" content="Unlock your musical potential. Learn guitar online.">
  <meta name="twitter:image" content="URL_TO_IMAGE">


  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

  <title>
    {% block title %}

    {% endblock %}
  </title>

</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PHP-Microframework</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


          {% if current_user %}

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Courses/index">Courses</a>
            </li>

          </ul>


          {% endif %}


          <!-- USER PROFILE MENU -->
          {% if current_user %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              ruivo.rui@gmail.com
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile/show">Profile</a></li>
              <li><a class="dropdown-item" href="/Settings">Settings</a></li>
              <li><a class="dropdown-item" href="/Payments/index">Payments</a></li>
              <li><a class="dropdown-item" href="/MyCourses/index">My Courses</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/CourseCreator/index">Course Creator</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Messages">Messages</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/Logout">Logout</a></li>
            </ul>
          </div>
          {% endif %}

          <!-- LOGIN LOGOUT MENU -->
          {% if not current_user %}
          <div class="dropdown">
            <button class="btn btn-secondary-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/signup/new">Signup</a></li>
            </ul>
          </div>
          {% endif %}

        </div>
      </div>
    </nav>

    <div class="container"></div>
    <!-- FLASH MESSAGES -->
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
    {% endfor %}
    </div> <!-- Container -->

  </header>

  <main>
    {% block body %}

    {% endblock %}
  </main>

  <footer>

  </footer>

</body>

</html>